@page "/pages/delete/{id}"
@model DeleteModel

<div class="m-2">
    <partial name="_ProductEditor" model="@Model.ViewModel" />
</div>

@functions
{
    public class DeleteModel : EditorPageModel
    {
        public DeleteModel(DataContext ctx) : base(ctx) { }

        public async Task OnGetAsync(long id)
        {
            Product p = await this.DataContext.Products.Include(p => p.Category).Include(p => p.Supplier).FirstOrDefaultAsync(p => p.ProductId == id) ?? new Product();
            ViewModel = ViewModelFactory.Delete(p);
        }

        public async Task<IActionResult> OnPostAsync([FromForm]Product product)
        {
            DataContext.Products.Remove(product);
            await DataContext.SaveChangesAsync();
            return RedirectToPage(nameof(Index));

        }
    }
}
